.card{
    width: 40vw;
    height: 10vh;
    font-size: 2rem;
    color: gray;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;

}

#textoCards{
    width: 100%;
    height: 25%;
}