.card{
    width: 40vw;
    height: 40vh;
    font-size: 2rem;
    color: goldenrod;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#textoCards{
    width: 100%;
    height: 25%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.foto{
    object-fit: cover;
    width: 10%;
    transition: transform 0.3s ease;
}

.foto:hover{
    transform: scale(1.15);
    z-index: 10;
}

.marco{
    display: flex;
    width: max-content;
    animation: scroll 27s linear infinite;

}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    95%{
        transform: translateX(calc(-100% + 40vw )) ;
    }
    100%{
        transform: translateX(calc(-100% + 40vw )) ;
    }
}