.card{
    width: 40vw;
    height: 40vh;
    font-size: 2rem;
    font-weight: bold;
    color: goldenrod;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

#textoCards{
    width: 100%;
    height: 25%;
}

.marco{
    width: 60%;
    height: 80%;

}

#fotoBiblio{
    max-height: 100%;
}